.waveWrapper.waveAnimation
    .waveWrapperInner.bgTop
        .wave.waveTop(style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')")
    .waveWrapperInner.bgMiddle
        .wave.waveMiddle(style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')")
    .waveWrapperInner.bgBottom
        .wave.waveBottom(style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')")
