#description
    blockquote.blockquote-custom.p-4.shadow.rounded
        .blockquote-custom-icon.shadow-sm
            i.fa.fa-quote-left.text-white
        .mb-0.mt-2.font-italic
            p.h2 AWS && Fullstack developer
            p.lead Coding is a game I have the chance to play every day of my life!
            .row.align-items-center.justify-content-start
                .col.col-2
                    .avatar
                        img.mx-3.my-2(src="/images/avatar.png" alt="Sign" height="150px") 
                .col.col-5
                    p.h3 Hello world! I'm Angele :)
            p I am a computer developer passionate about her work
                a.animated-heart.ms-2
                    i.fa-solid.fa-heart.text-white.fa-xs
            p I am curious to learn new skills and discover new technologies! I am autonomous and self-taught, stubborn and creative.

script(type="text/javascript").
    const year = (new Date()).getFullYear();
    document.getElementById("years").innerHTML = year - 2014;