div#description.text-center.mb-5
    blockquote.blockquote.blockquote-custom.bg-white.p-5.shadow.rounded
        div.blockquote-custom-icon.shadow-sm
            i.fa.fa-quote-left.text-white
        div.mb-0.mt-2.font-italic
            p.h1 AWS && Fullstack developer
            p.lead Coding is an art that requires logic and imagination, it's a game without limits.
            img.my-2(src="/images/avatar.png" alt="Sign" height="150px")
            p.h3 Hello world! I'm Angele :)
            p After working for 
                span#years
                span &nbsp;years in companies, I decided to become a freelancer! I have mainly developed websites but I like to try everything. I am curious, stubborn and naturally positive.
            p Oh and I'm passionate about my job
                a.animated-heart.ms-2
                    i.fa-solid.fa-heart.text-white.fa-sm

script.
    const year = (new Date()).getFullYear();
    document.getElementById("years").innerHTML = year - 2014;