#description
    blockquote.blockquote-custom.shadow.rounded.p-5
        .blockquote-custom-icon.shadow-sm
            i.fa.fa-quote-left.text-white
        .mb-0.mt-2.font-italic
            p.h2 AWS && Fullstack developer
            p.lead Coding is a game I have the chance to play every day of my life!
            .row.align-items-center.justify-content-start
                .col.col-12.col-md-2
                    .avatar
                        img.mx-3.my-2(src="/images/avatar.png" alt="Sign" height="150px")
                .col.col-12.col-md-5
                    p.h3 Hello world! I'm Angele :)
            p I am a computer developer passionate about her work
                a.animated-heart.ms-2
                    i.fa-solid.fa-heart.text-white.fa-xs
            p I am always learning new skills! I am autonomous, self-taught and stubborn.
