#description.text-center
    blockquote.blockquote-custom.p-4.shadow.rounded
        .blockquote-custom-icon.shadow-sm
            i.fa.fa-quote-left.text-white
        .mb-0.mt-2.font-italic
            p.h2 AWS && Fullstack developer
            p.lead Coding is a game I have the chance to play every day of my life!
            p.h3 Hello world! 
                img.mx-3.my-2(src="/images/avatar.png" alt="Sign" height="150px") 
                span I'm Angele :)
            p After studying Modern Letters, I became a presenter and then a sound technician in a local radio station. Until the day when I chose to take up a path that is close to my heart: IT development.
            p For 
                span#years
                span &nbsp;years I have enjoyed creating websites, software and even connected objects.
            p Today I would like to put my enriching career and my experience at your service! 
                a.animated-heart.ms-2
                    i.fa-solid.fa-heart.text-white.fa-sm

script(type="text/javascript").
    const year = (new Date()).getFullYear();
    document.getElementById("years").innerHTML = year - 2014;