#description
    blockquote.blockquote-custom.shadow.rounded.p-5
        .blockquote-custom-icon.shadow-sm
            i.fa.fa-quote-left.text-white
        .mb-0.mt-2.font-italic
            p.h2 AWS && Fullstack developer
            p.lead Coding is a game I have the chance to play every day of my life!
            .my-5
                p.inline.h3 Hello world! 
                p.inline.h3 I'm Angele :)
            p.mt-3 I am a computer developer passionate about her work
                a.animated-heart.ms-2
                    i.fa-solid.fa-heart.text-white.fa-xs
            p I am always learning new skills! Autonomous, self-taught and stubborn, if you are looking for some guidance and support, I can help!
