#experience.row.justify-content-center
    div
        i.fa-solid.fa-star.fa-2xl.me-2
        span.h1
            | Professional experiences
    .flip-card.mb-3
        .flip-card-inner
            .flip-card-front.card-angele.rounded
                .card-entete
                    .black-cover
                    img(src="/images/iot.png" alt="IoT Developer")
                    .p-3
                        h2.h5 IoT Developer
                        span.small.text-gray
                          i.fa.fa-clock-o.me-2
                          | 2018 - 2023, Airbus
                .card-content.p-3
                    p.text-small.mt-2.font-weight-light
                      | Design and development of a platform in Python and VueJS using AWS services to allow the management of many connected objects.
                    p.text-small.mt-2.font-weight-light
                      | Management of the frontend part (reviews of code, migrations, upgrades, ui/ux).
                .hover-me.fixed-bottom
            .flip-card-back.card-angele.rounded
                .card-entete
                    .black-cover
                    img(src="/images/iot.png" alt="IoT Developer")
                    .p-3
                        h2.h5 IoT Developer
                        span.small.text-gray
                          i.fa.fa-regular.fa-floppy-disk.me-2
                          | Technologies I used:
                .p-3.row.text-center
                    .col.mb-3
                        img(src="https://cdn.simpleicons.org/python/white" title="Python" height="50px")
                    .col.mb-3
                        img(src="https://cdn.simpleicons.org/flask/white" title="Flask" height="50px")
                    .col.mb-3
                        img(src="https://cdn.simpleicons.org/vuedotjs/white" title="VueJS" height="50px")
                    .col.mb-3
                        img(src="https://cdn.simpleicons.org/vuetify/white" title="Vuetify" height="50px")
                    .col.mb-3
                        img(src="https://cdn.simpleicons.org/typescript/white" title="Typescript" height="50px")
                    .col.mb-3
                        img(src="https://cdn.simpleicons.org/amazonaws/white" title="Amazon AWS" height="50px")
                    .col.mb-3
                        img(src="https://cdn.simpleicons.org/awslambda/white" title="AWS Lambda" height="50px")
                    .col.mb-3
                        img(src="https://cdn.simpleicons.org/tailwindcss/white" title="Tailwind CSS" height="50px")

    .flip-card.mb-3
        .flip-card-inner
            .flip-card-front.card-angele.rounded
                .card-entete
                    .black-cover
                    img(src="/images/plane.png" alt="Software Engineer")
                    .p-3
                        h2.h5 Software Engineer
                        span.small.text-gray
                          i.fa.fa-clock-o.me-2
                          | 2017 - 2018, Activus Services
                .card-content.p-3
                    p.text-small.mt-2.font-weight-light
                      | Develop and manage a platform for airplane companies to follow the evolution of multiple systems to detect dangerous or alerting trends. 
                    p.text-small.mt-2.font-weight-light
                      | Development of a ServiceNow portal for the management of the various ITSM processes.
                .hover-me.fixed-bottom
            .flip-card-back.card-angele.rounded
                .card-entete
                    .black-cover
                    img(src="/images/plane.png" alt="Software Engineer")
                    .p-3
                        h2.h5 Software Engineer
                        span.small.text-gray
                          i.fa.fa-regular.fa-floppy-disk.me-2
                          | Technologies I used:
                .p-3.row.text-center
                    .col.mb-3
                        i.fa-brands.fa-java.fa-3x(title="Java")
                    .col.mb-3
                        img(src="https://cdn.simpleicons.org/hibernate/white" title="Hibernate" height="50px")
                    .col.mb-3
                        img(src="https://cdn.simpleicons.org/html5/white" title="HTML5" height="50px")
                    .col.mb-3
                        img(src="https://cdn.simpleicons.org/css3/white" title="CSS3" height="50px")
                    .col.mb-3
                        img(src="https://cdn.simpleicons.org/javascript/white" title="Javascript" height="50px")
                    .col.mb-3
                        img(src="https://cdn.simpleicons.org/cplusplus/white" title="C++" height="50px")
                    .col.mb-3
                        img(src="https://cdn.simpleicons.org/dialogflow/white" title="Google Dialogflow" height="50px")
                    .col.mb-3
                        img(src="https://cdn.simpleicons.org/arduino/white" title="Arduino" height="50px")

    .flip-card.mb-3
        .flip-card-inner
            .flip-card-front.card-angele.rounded
                .card-entete
                    .black-cover
                    img(src="/images/intranet.png" alt="Analyst developer")
                    .p-3
                        h2.h5 Analyst developer
                        span.small.text-gray
                          i.fa.fa-clock-o.me-2
                          | 2015 - 2016, Koncept
                .card-content.p-3
                    p.text-small.mt-2.font-weight-light
                      | Design and development of a portal with Liferay in Java EE for the creation/handling of incidents. 
                    p.text-small.mt-2.font-weight-light
                      | Implementation and management of a decision tree with RedHat BRMS.
                .hover-me.fixed-bottom
            .flip-card-back.card-angele.rounded
                .card-entete
                    .black-cover
                    img(src="/images/intranet.png" alt="Analyst developer")
                    .p-3
                        h2.h5 Analyst developer
                        span.small.text-gray
                          i.fa.fa-regular.fa-floppy-disk.me-2
                          | Technologies I used:
                .p-3.row.text-center
                    .col.mb-3
                        img(src="/images/liferay.png" title="Liferay" height="50px")
                    .col.mb-3
                        i.fa-brands.fa-java.fa-3x(title="Java")
                    .col.mb-3
                        img(src="https://cdn.simpleicons.org/hibernate/white" title="Hibernate" height="50px")
                    .col.mb-3
                        img(src="https://cdn.simpleicons.org/html5/white" title="HTML5" height="50px")
                    .col.mb-3
                        img(src="https://cdn.simpleicons.org/css3/white" title="CSS3" height="50px")
                    .col.mb-3
                        img(src="https://cdn.simpleicons.org/javascript/white" title="Javascript" height="50px")
                    .col.mb-3
                        img(src="https://cdn.simpleicons.org/jquery/white" title="JQuery" height="50px")
                    .col.mb-3
                        img(src="https://cdn.simpleicons.org/redhat/white" title="BRMS RedHat" height="50px")
                    .col.mb-3
                        img(src="https://cdn.simpleicons.org/bmcsoftware/white" title="BMC Remedy" height="50px")

    .flip-card.mb-3
        .flip-card-inner
            .flip-card-front.card-angele.rounded
                .card-entete
                    .black-cover
                    img(src="/images/dentist.png" alt="Software developer")
                    .p-3
                        h2.h5 Software developer
                        span.small.text-gray
                          i.fa.fa-clock-o.me-2
                          | 2015, Libre-Services
                .card-content.p-3
                    p.text-small.mt-2.font-weight-light
                      | Design and development of patients files management and 3D image manipulation software for medical sector.
                .hover-me.fixed-bottom
            .flip-card-back.card-angele.rounded
                .card-entete
                    .black-cover
                    img(src="/images/dentist.png" alt="Software developer")
                    .p-3
                        h2.h5 Software developer
                        span.small.text-gray
                          i.fa.fa-regular.fa-floppy-disk.me-2
                          | Technologies I used:
                .p-3.row.text-center
                    .col.mb-3
                        img(src="https://cdn.simpleicons.org/cplusplus/white" title="C++" height="50px")
                    .col.mb-3
                        img(src="https://cdn.simpleicons.org/qt/white" title="QT5" height="50px")
                    .col.mb-3
                        img(src="https://cdn.simpleicons.org/mysql/white" title="MySQL" height="50px")
                    .col.mb-3
                        img(src="https://cdn.simpleicons.org/phpmyadmin/white" title="PHPMyAdmin" height="50px")
                    .col.mb-3
                        img(src="https://cdn.simpleicons.org/php/white" title="PHP" height="50px")

    .flip-card.mb-3
        .flip-card-inner
            .flip-card-front.card-angele.rounded
                .card-entete
                    .black-cover
                    img(src="/images/study.png" alt="Software developer")
                    .p-3
                        h2.h5 Software developer
                        span.small.text-gray
                          i.fa.fa-clock-o.me-2
                          | 2014 - 2015, LDNR
                .card-content.p-3
                    p.text-small.mt-2.font-weight-light
                        | I realized five development projects with the different languages C, C++ and Java SE/2EE on a distant collaborative work.
                .hover-me.fixed-bottom
            .flip-card-back.card-angele.rounded
                .card-entete
                    .black-cover
                    img(src="/images/study.png" alt="Software developer")
                    .p-3
                        h2.h5 Software developer
                        span.small.text-gray
                          i.fa.fa-solid.fa-graduation-cap.me-2
                          | Learnings:
                .p-3.row.text-center
                    .col.mb-3
                        img(src="https://cdn.simpleicons.org/c/white" title="C" height="50px")
                    .col.mb-3
                        img(src="https://cdn.simpleicons.org/cplusplus/white" title="C++" height="50px")
                    .col.mb-3
                        i.fa-brands.fa-java.fa-3x(title="Java")
                    .col.mb-3
                        span ITIL
                    .col.mb-3
                        span UML
                    .col.mb-3
                        span Project management

    .flip-card.mb-3
        .flip-card-inner
            .flip-card-front.card-angele.rounded
                .card-entete
                    .black-cover
                    img(src="/images/radio.png" alt="Radio technician")
                    .p-3
                        h2.h5 Radio technician
                        span.small.text-gray
                          i.fa.fa-clock-o.me-2
                          | 2011 - 2014, Radio Occitania
                .card-content.p-3
                    p.text-small.mt-2.font-weight-light
                        | Implementation of a website with live broadcast of radio programs.
                    p.text-small.mt-2.font-weight-light
                        | Installation and management of a radio automation software.
                    p.text-small.mt-2.font-weight-light
                        | Realization of radio broadcasts as a radio animator and as a radio technician.
                .hover-me.fixed-bottom
            .flip-card-back.card-angele.rounded
                .card-entete
                    .black-cover
                    img(src="/images/radio.png" alt="Radio technician")
                    .p-3
                        h2.h5 Radio technician
                        span.small.text-gray
                          i.fa.fa-regular.fa-floppy-disk.me-2
                          | Technologies I used:
                .p-3.row.text-center
                    .col.mb-3
                        img(src="https://cdn.simpleicons.org/html5/white" title="HTML5" height="50px")
                    .col.mb-3
                        img(src="https://cdn.simpleicons.org/css3/white" title="CSS3" height="50px")
                    .col.mb-3
                        img(src="https://cdn.simpleicons.org/javascript/white" title="Javascript" height="50px")
                    .col.mb-3
                        img(src="https://cdn.simpleicons.org/jquery/white" title="JQuery" height="50px")
                    .col.mb-3
                        img(src="https://cdn.simpleicons.org/php/white" title="PHP" height="50px")
