#experience
    section.timeline
      ul.timeline-items
        li.timeline-item
          div.container.card(data-bs-theme="dark")
            span.content
                h2.h5.mb-0 Airbus - IoT Developer
                span.small.text-gray.mb-2
                  i.fa.fa-clock-o.me-2
                  | October, 2018 - April, 2023
                p.mt-3
                  | Design and development of a portal in Python and VueJS on MacOS to allow the management of many connected objects.
                .row
                    .col
                        h6 Technologies I used:
                        ul
                            li Python / Flask
                            li Vue.JS / Vuetify
                            li TypeScript
                    .col
                        h6 AWS Services
                        ul
                            li SNS
                            li SES
                            li S3
                            li DynamoDB
                            li IoT Core
                            li IoT Events
                            li IAM
                            li Secrets Manager
        li.timeline-item
          div.container.card(data-bs-theme="dark")
            span.content
                h2.h5.mb-0 Activus Services - Software Engineer
                span.small.text-gray
                  i.fa.fa-clock-o.me-2
                  | June, 2018 - September, 2018
                p.mt-3
                  | At Airbus
                p
                  | Develop and manage robots which allow companies to follow the evolution of multiple and chosen systems to detect dangerous or alerting trends. 
                .row
                    .col
                        h6 Technologies I used:
                        ul
                            li Java 7/8
                            li HTML5 / CSS3
                            li MongoDB
        li.timeline-item
          div.container.card(data-bs-theme="dark")
            span.content
                h2.h5.mb-0 Activus Services - Software Engineer
                span.small.text-gray
                  i.fa.fa-clock-o.me-2
                  | January, 2017 - June, 2018
                p.mt-3
                  | At Airbus
                p
                  | Integration of business rules into Java EE applications. 
                .row
                    .col
                        h6 Technologies I used:
                        ul
                            li BRMS RedHat
                            li Java EE / Maven / Hibernate
                            li Liferay (portlet, hook, theme, layout)
                            li HTML5 / CSS3 / Javascript / JQuery
                            li Dialogflow (Google chatbot)
                            li ServiceNow
                            li Arduino / esp8266 WiFi
                            li C++
        li.timeline-item
          div.container.card(data-bs-theme="dark")
            span.content
                h2.h5.mb-0 Koncept - Analyst developer
                span.small.text-gray
                  i.fa.fa-clock-o.me-2
                  | September, 2015 - December, 2016
                p.mt-3
                  | At Airbus
                p
                  | Development of an intranet portal for end-users. 
                .row
                    .col
                        h6 Technologies I used:
                        ul
                            li BRMS RedHat
                            li Java EE (Servlet, jsp, JSTL, applet) / Maven / Hibernate
                            li HTML 5 / CSS 3 / Javascript / JQuery
                            li Python
                            li BMC Remedy
                            li Liferay (portlet, hook, theme, layout)
                            li MariaDB
                            li C++
        li.timeline-item
          div.container.card(data-bs-theme="dark")
            span.content
                h2.h5.mb-0 Libre-Services - Software developer
                span.small.text-gray
                  i.fa.fa-clock-o.me-2
                  | April, 2015 - August, 2015
                p.mt-3
                  | Development of a business application in the medical sector.
                .row
                    .col
                        h6 Technologies I used:
                        ul
                            li UMLet
                            li C++
                            li Qt 5 (Qt Creator, Qt Designer, Qt Linguist)
                            li SQL / MySQL / PHPMyAdmin
                            li PHP and Slim
        li.timeline-item
          div.container.card(data-bs-theme="dark")
            span.content
                h2.h5.mb-0 LDNR - Software developer training
                span.small.text-gray
                    i.fa.fa-clock-o.me-2
                    | November, 2014 - July, 2015
                .row.mt-3
                    .col
                        h6 Missions:
                        ul
                            li C, C++ and Java SE/2EE
                            li ITIL
                            li UML
                            li Project management
                            li UdMLet
        li.timeline-item
          div.container.card(data-bs-theme="dark")
            span.content
                h2.h5.mb-0 Radio Occitania - Radio technician
                span.small.text-gray
                  i.fa.fa-clock-o.me-2
                  | January, 2011 - August, 2014
                .row.mt-3
                    .col
                        h6 Missions:
                        ul
                            li Realization of radio broadcasts
                            li Computer maintenance
                            li Web mastering
                            li Installation and management of a radio automation software

script.
    (function () {
      "use strict";

      var items = document.querySelectorAll(".timeline li.timeline-item");
      function isElementInViewport(el) {
        var rect = el.getBoundingClientRect();
        return (
          rect.top >= 0 &&
          rect.left >= 0 &&
          rect.bottom <=
            (window.innerHeight || document.documentElement.clientHeight) &&
          rect.right <= (window.innerWidth || document.documentElement.clientWidth)
        );
      }
      function callbackFunc() {
        for (var i = 0; i < items.length; i++) {
          if (isElementInViewport(items[i])) {
            items[i].classList.add("in-view");
          }
        }
      }

      // Listen for events
      window.addEventListener("load", callbackFunc);
      window.addEventListener("resize", callbackFunc);
      window.addEventListener("scroll", callbackFunc);
    })();

