#experience.row.justify-content-around.text-center
    .flip-card
        .flip-card-inner
            .flip-card-front.rounded(data-bs-theme="dark")
                .p-3.entete
                    h2.h5 IoT Developer
                    span.small.text-gray
                      i.fa.fa-clock-o.me-2
                      | 2018 - 2023, Airbus
                .p-3
                    p.text-small.mt-2.font-weight-light
                      | Design and development of a portal in Python and VueJS on MacOS to allow the management of many connected objects.
            .flip-card-back.rounded(data-bs-theme="dark")
                .row.p-3
                    .col
                        h6 Technologies I used:
                        ul
                            li Python / Flask
                            li Vue.JS / Vuetify
                            li TypeScript
                    .col
                        h6 AWS Services
                        ul
                            li SNS
                            li SES
                            li S3
                            li DynamoDB
                            li IoT Core
                            li IoT Events
                            li IAM
                            li Secrets Manager

    .flip-card(data-bs-theme="dark")
        .flip-card-inner
            .flip-card-front.rounded
                .p-3.entete
                    h2.h5 Software Engineer
                    span.small.text-gray
                      i.fa.fa-clock-o.me-2
                      | 2017 - 2018, Activus Services
                .p-3
                    p.text-small.mt-2.font-weight-light
                      | Develop and manage robots which allow companies to follow the evolution of multiple and chosen systems to detect dangerous or alerting trends. 
                    p.text-small.mt-2.font-weight-light
                      | Integration of business rules into Java EE applications. 
            .flip-card-back.rounded
                .row.p-3
                    .col
                        h6 Technologies I used:
                        ul
                            li BRMS RedHat
                            li Java EE / Maven / Hibernate
                            li Liferay (portlet, hook, theme, layout)
                            li HTML5 / CSS3 / Javascript / JQuery
                            li Dialogflow (Google chatbot)
                            li ServiceNow
                            li Arduino / esp8266 WiFi
                            li C++

    .flip-card(data-bs-theme="dark")
        .flip-card-inner
            .flip-card-front.rounded
                .p-3.entete
                    h2.h5 Analyst developer
                    span.small.text-gray
                      i.fa.fa-clock-o.me-2
                      | 2015 - 2016, Koncept
                .p-3
                    p.text-small.mt-2.font-weight-light
                      | Development of an intranet portal for end-users. 
            .flip-card-back.rounded
                .row.p-3
                    .col
                        h6 Technologies I used:
                        ul
                            li BRMS RedHat
                            li Java EE (Servlet, jsp, JSTL, applet) / Maven / Hibernate
                            li HTML 5 / CSS 3 / Javascript / JQuery
                            li Python
                            li BMC Remedy
                            li Liferay (portlet, hook, theme, layout)
                            li MariaDB
                            li C++

    .flip-card(data-bs-theme="dark")
        .flip-card-inner
            .flip-card-front.rounded
                .p-3.entete
                    h2.h5 Software developer
                    span.small.text-gray
                      i.fa.fa-clock-o.me-2
                      | 2015, Libre-Services
                .p-3
                    p.text-small.mt-2.font-weight-light
                      | Development of a business application in the medical sector. 
            .flip-card-back.rounded
                .row.p-3
                    .col
                        h6 Technologies I used:
                        ul
                            li UMLet
                            li C++
                            li Qt 5 (Qt Creator, Qt Designer, Qt Linguist)
                            li SQL / MySQL / PHPMyAdmin
                            li PHP and Slim

    .flip-card(data-bs-theme="dark")
        .flip-card-inner
            .flip-card-front.rounded
                .p-3.entete
                    h2.h5 Software developer
                    span.small.text-gray
                      i.fa.fa-clock-o.me-2
                      | 2014 - 2015, LDNR
                .p-3
                    | Plop
            .flip-card-back.rounded
                .row.p-3
                    .col
                        h6 Missions:
                        ul
                            li C, C++ and Java SE/2EE
                            li ITIL
                            li UML
                            li Project management
                            li UdMLet

    .flip-card(data-bs-theme="dark")
        .flip-card-inner
            .flip-card-front.rounded
                .p-3.entete
                    h2.h5 Radio technician
                    span.small.text-gray
                      i.fa.fa-clock-o.me-2
                      | 2011 - 2014, Radio Occitania
                .p-3
                    | Plop
            .flip-card-back.rounded
                .row.p-3
                    .col
                        h6 Missions:
                        ul
                            li Realization of radio broadcasts
                            li Computer maintenance
                            li Web mastering
                            li Installation and management of a radio automation software
