#experience.row.justify-content-around
    .flip-card.mb-3(data-bs-theme="dark")
        .flip-card-inner
            .flip-card-front.rounded
                .entete
                    img(src="/images/iot.png" alt="IoT Developer")
                    .p-3
                        h2.h5 IoT Developer
                        span.small.text-gray
                          i.fa.fa-clock-o.me-2
                          | 2018 - 2023, Airbus
                .content.p-3
                    p.text-small.mt-2.font-weight-light
                      | Design and development of a platform in Python and VueJS using AWS services to allow the management of many connected objects.
                    p.text-small.mt-2.font-weight-light
                      | Management of the frontend part (reviews of code, migrations, upgrades, ui/ux).
                .hover-me.fixed-bottom
            .flip-card-back.rounded
                .row.p-3
                    .col
                        h6 Technologies I used:
                        ul
                            li Python / Flask
                            li Vue.JS / Vuetify
                            li TypeScript
                    .col
                        h6 AWS Services
                        ul
                            li SNS
                            li SES
                            li S3
                            li DynamoDB
                            li IoT Core
                            li IoT Events
                            li IAM
                            li Secrets Manager

    .flip-card.mb-3(data-bs-theme="dark")
        .flip-card-inner
            .flip-card-front.rounded
                .entete
                    img(src="/images/plane.png" alt="Software developer")
                    .p-3
                        h2.h5 Software Engineer
                        span.small.text-gray
                          i.fa.fa-clock-o.me-2
                          | 2017 - 2018, Activus Services
                .content.p-3
                    p.text-small.mt-2.font-weight-light
                      | Develop and manage a platform for airplane companies to follow the evolution of multiple systems to detect dangerous or alerting trends. 
                    p.text-small.mt-2.font-weight-light
                      | Development of a ServiceNow portal for the management of the various ITSM processes.
                .hover-me.fixed-bottom
            .flip-card-back.rounded
                .row.p-3
                    .col
                        h6 Technologies I used:
                        ul
                            li Java EE / Maven / Hibernate
                            li Liferay (portlet, hook, theme, layout)
                            li HTML5 / CSS3 / Javascript / JQuery
                            li Dialogflow (Google chatbot)
                            li ServiceNow
                            li Arduino / esp8266 WiFi
                            li C++

    .flip-card.mb-3(data-bs-theme="dark")
        .flip-card-inner
            .flip-card-front.rounded
                .entete
                    img(src="/images/intranet.png" alt="Software developer")
                    .p-3
                        h2.h5 Analyst developer
                        span.small.text-gray
                          i.fa.fa-clock-o.me-2
                          | 2015 - 2016, Koncept
                .content.p-3
                    p.text-small.mt-2.font-weight-light
                      | Design and development of a portal with Liferay in Java EE for the creation/handling of incidents. 
                    p.text-small.mt-2.font-weight-light
                      | Implementation and management of a decision tree with RedHat BRMS.
                .hover-me.fixed-bottom
            .flip-card-back.rounded
                .row.p-3
                    .col
                        h6 Technologies I used:
                        ul
                            li BRMS RedHat
                            li Java EE (Servlet, jsp, JSTL, applet) / Maven / Hibernate
                            li HTML 5 / CSS 3 / Javascript / JQuery
                            li Python
                            li BMC Remedy
                            li Liferay (portlet, hook, theme, layout)
                            li MariaDB
                            li C++

    .flip-card.mb-3(data-bs-theme="dark")
        .flip-card-inner
            .flip-card-front.rounded
                .entete
                    img(src="/images/dentist.png" alt="Software developer")
                    .p-3
                        h2.h5 Software developer
                        span.small.text-gray
                          i.fa.fa-clock-o.me-2
                          | 2015, Libre-Services
                .content.p-3
                    p.text-small.mt-2.font-weight-light
                      | Design and development of patient file management and 3D image manipulation software in the medical sector.
                .hover-me.fixed-bottom
            .flip-card-back.rounded
                .row.p-3
                    .col
                        h6 Technologies I used:
                        ul
                            li UMLet
                            li C++
                            li Qt 5 (Qt Creator, Qt Designer, Qt Linguist)
                            li SQL / MySQL / PHPMyAdmin
                            li PHP and Slim

    .flip-card.mb-3(data-bs-theme="dark")
        .flip-card-inner
            .flip-card-front.rounded
                .entete
                    img(src="/images/study.png" alt="Software developer")
                    .p-3
                        h2.h5 Software developer
                        span.small.text-gray
                          i.fa.fa-clock-o.me-2
                          | 2014 - 2015, LDNR
                .content.p-3
                    p.text-small.mt-2.font-weight-light
                        | Implementation of a website with live broadcast of radio programs.
                .hover-me.fixed-bottom
            .flip-card-back.rounded
                .row.p-3
                    .col
                        h6 Missions:
                        ul
                            li C, C++ and Java SE/2EE
                            li ITIL
                            li UML
                            li Project management
                            li UdMLet

    .flip-card.mb-3(data-bs-theme="dark")
        .flip-card-inner
            .flip-card-front.rounded
                .entete
                    img(src="/images/radio.png" alt="Software developer")
                    .p-3
                        h2.h5 Radio technician
                        span.small.text-gray
                          i.fa.fa-clock-o.me-2
                          | 2011 - 2014, Radio Occitania
                .content.p-3
                    p.text-small.mt-2.font-weight-light
                        | Plop
                .hover-me.fixed-bottom
            .flip-card-back.rounded
                .row.p-3
                    .col
                        h6 Missions:
                        ul
                            li Realization of radio broadcasts
                            li Computer maintenance
                            li Web mastering
                            li Installation and management of a radio automation software
