footer.fixed-bottom.bg-dark.text-white.p-1
    .row
        .col.text-start
            span Handcrafted with 
            i.fa-solid.fa-heart.me-1
            i.fa-regular.fa-copyright.me-1
            span 2023
        .col.text-end
            a.btn.btn-link.p-0.me-1(role="button" title="Send me an email" onclick="contactMe()")
                i.fa-solid.fa-square-envelope.fa-xl
            a.btn.btn-link.p-0.me-1(role="button" title="Github" href="https://github.com/angele-henry-dev" target="_blank")
                i.fa-brands.fa-github.fa-xl
            a.btn.btn-link.p-0(role="button" href="https://www.linkedin.com/in/angele-henry/" target="_blank" title="Go to LinkedIn page")
                i.fa-brands.fa-linkedin.fa-xl
