
footer.fixed-bottom
    div.d-flex.justify-content-end
        div.gear
            img(src="/images/gear_cut.png" alt="Gear" height="250px")
            button.btn.description(type="button" title="Show description" data-bs-toggle="tooltip" data-bs-placement="left")
                i.fa-solid.fa-address-card
            button.btn.skills(type="button" title="Show skills" data-bs-toggle="tooltip" data-bs-placement="left")
                i.fa-solid.fa-fire
            button.btn.portfolio(type="button" title="Show portfolio" data-bs-toggle="tooltip" data-bs-placement="left")
                i.fa-sharp.fa-solid.fa-images
            button.btn.contact(type="button" title="Contact me" data-bs-toggle="tooltip" data-bs-placement="left")
                i.fa-solid.fa-envelope
    div.text-center.bg-dark.text-white.p-2
        span Handcrafted by me 
        i.fa-regular.fa-copyright.me-1
        span 2023
