div.gear
    button.btn.btn-lg.btn-dark.description(type="button" data-bs-target="#carousel-slides" data-bs-slide-to="0" title="Show description")
        i.fa-solid.fa-address-card
    button.btn.btn-lg.btn-dark.skills(type="button" data-bs-target="#carousel-slides" data-bs-slide-to="1" title="Show skills")
        i.fa-solid.fa-fire
    button.btn.btn-lg.btn-dark.portfolio(type="button" data-bs-target="#carousel-slides" data-bs-slide-to="2" title="Show portfolio")
        i.fa-sharp.fa-solid.fa-images