header.fixed-top
    div.d-flex.justify-content-between.align-items-start
        div.logo
            a(href="/" target="_self" title="Homepage")
                img(src="/images/raccoon_logo.png" alt="Sign" height="150px")
        div.socialnetwork
            a(href="https://www.linkedin.com/in/angele-marques/" target="_blank" title="Go to LinkedIn page")
                i.fa-brands.fa-linkedin.fa-2xl
