header
    div.d-flex.justify-content-between.align-items-start.mx-1
        div.title-sign
            img(src="/images/sign1.png" alt="Sign" height="215px")
            a(role="button" title="Homepage") Angele's corner
        div.socialnetwork-sign
            img(src="/images/sign2.png" alt="Sign" height="159px")
            a(href="https://www.linkedin.com/in/angele-marques/" target="_blank" role="button" title="Go to LinkedIn page")
                i.fa-brands.fa-linkedin.fa-2xl
