header
    div.d-flex.justify-content-between.align-items-start.mx-1
        div.title-sign
            img(src="/images/panneau.png" alt="Sign" height="215px")
            button.btn.btn-primary(type="button" title="Homepage") Angele's corner
        div.socialnetwork-sign
            img(src="/images/panneau.png" alt="Sign" height="159px")
            a.btn.btn-link(href="#" role="button" title="Go to LinkedIn page")
                i.fa-brands.fa-linkedin.fa-2xl
