#lateral_left.d-flex.flex-column
    a.btn.btn-link.p-0.mb-3.mt-auto(role="button" title="Send me an email" onclick="contactMe()")
        i.fa-solid.fa-square-envelope.fa-xl
    a.btn.btn-link.p-0.mb-3(role="button" title="Github" href="https://github.com/angele-henry-dev" target="_blank")
        i.fa-brands.fa-github.fa-xl
    a.btn.btn-link.p-0.mb-3(role="button" href="https://www.linkedin.com/in/angele-henry/" target="_blank" title="Go to LinkedIn page")
        i.fa-brands.fa-linkedin.fa-xl
    .box-vl
        .vl