#portfolio.mb-5
    p Portfolio
    p Collaboration with companies
    p My Startup Projects

    .flip-card
      .flip-card-inner
        .flip-card-front
          p Plopiplop
        .flip-card-back
          h1 John Doe
          p Architect &amp; Engineer
          p We love that guy
