#portfolio
    .flip-card
        .flip-card-inner
            .flip-card-front.rounded
                div.p-3
                    h2.h5.mb-0 Airbus - IoT Developer
                    span.small.text-gray
                      i.fa.fa-clock-o.me-2
                      | October, 2018 - April, 2023
                    p.text-small.mt-2.font-weight-light
                      | Design and development of a portal in Python and VueJS on MacOS to allow the management of many connected objects.
            .flip-card-back.rounded
                div.p-3
                    p.text-small.mt-2.font-weight-light
                      | Technologies / Environment:
                    ul
                        li Python / Flask
                        li Vue.JS / Vuetify
                        li TypeScript
                        li AWS Services
                        li Git
                        li Docker

