#portfolio
    .flip-card
        .flip-card-inner
            .flip-card-front.p-2
                p Portfolio
                p Collaboration with companies
                p My Startup Projects
            .flip-card-back.p-2
                h1 John Doe
                p Architect &amp; Engineer
                p We love that guy
