#portfolio
    .flip-card
        .flip-card-inner
            .flip-card-front.shadow.rounded.me-1.mb-1.p-0
                p Portfolio
                p Collaboration with companies
                p My Startup Projects
            .flip-card-back.shadow.rounded
                h1 John Doe
                p Architect &amp; Engineer
                p We love that guy
