#skills.row.justify-content-center
    .card-angele.rounded.mb-3.mx-1
        .card-entete
            .black-cover
            img(src="/images/pug.png" alt="Frontend developer")
            .p-3
                h2.h5 Frontend developer
                span.small.text-gray I love bringing design to life
        .card-content.p-3
            h6 My languages
            ul.list-group.list-group-flush
                li.list-group-item Pug
                li.list-group-item HTML / CSS
                li.list-group-item VueJS
                li.list-group-item Bootstrap
                li.list-group-item Typescript
                li.list-group-item Javascript

    .card-angele.rounded.mb-3.mx-2
        .card-entete
            .black-cover
            img.card-img-top(src="/images/python.png" alt="Backend developer")
            .p-3
                h2.h5 Backend developer
                span.small.text-gray I have fun solving puzzles
        .card-content.p-3
            h6.card-text My languages
            ul.list-group.list-group-flush
                li.list-group-item Python
                li.list-group-item Java SE
                li.list-group-item Java EE
                li.list-group-item C++
                
    .card-angele.rounded.mb-3.mx-2
        .card-entete
            .black-cover
            img.card-img-top(src="/images/cloud.png" alt="AWS developer")
            .p-3
                h2.h5 AWS developer
                span.small.text-gray I like having my head in the clouds
        .card-content.p-3
            h6.card-text My services
            ul.list-group.list-group-flush
                li.list-group-item IoT Core
                li.list-group-item IoT Events
                li.list-group-item DynamoDB
                li.list-group-item S3
                li.list-group-item SES
                li.list-group-item SNS
