#skills.row.justify-content-around.text-center
    .card.me-1.mb-2.p-0(style='width: 18rem;' data-bs-theme="dark")
        img.card-img-top(src="/images/img1.png" alt="Frontend developer")
        .card-body
            h5.card-title Frontend developer
            h6.card-subtitle.mb-4.text-muted I love bringing design to life
            h6.card-text My languages
            ul.list-group.list-group-flush
                li.list-group-item Pug
                li.list-group-item HTML
                li.list-group-item CSS
                li.list-group-item VueJS
                li.list-group-item Typescript
                li.list-group-item Javascript

    .card.me-1.mb-2.p-0(style='width: 18rem;' data-bs-theme="dark")
        img.card-img-top(src="/images/img2.png" alt="Backend developer")
        .card-body
            h5.card-title Backend developer
            h6.card-subtitle.mb-4.text-muted I have fun solving puzzles
            h6.card-text My languages
            ul.list-group.list-group-flush
                li.list-group-item Python
                li.list-group-item Java
                li.list-group-item C++
            h6.card-text.mt-3 Dev tools
            ul.list-group.list-group-flush
                li.list-group-item Github
                li.list-group-item Docker

    .card.me-1.mb-2.p-0(style='width: 18rem;' data-bs-theme="dark")
        img.card-img-top(src="/images/img3.png" alt="AWS developer")
        .card-body
            h5.card-title AWS developer
            h6.card-subtitle.mb-4.text-muted I like having my head in the clouds
            h6.card-text My services
            ul.list-group.list-group-flush
                li.list-group-item IoT Core
                li.list-group-item IoT Events
                li.list-group-item DynamoDB
                li.list-group-item S3
                li.list-group-item SES
                li.list-group-item SNS
