.tracks
    img#lefthand(src="/images/raccoon_tracks_1.png" alt="Step" height="30px")
    img#righthand(src="/images/raccoon_tracks_2.png" alt="Step" height="30px")
    img#leftfoot(src="/images/raccoon_tracks_3.png" alt="Step" height="30px")
    img#rightfoot(src="/images/raccoon_tracks_4.png" alt="Step" height="30px")

script(src="/js/TweenMax.min.js" type="text/javascript" charset="utf-8")
script.
    const lefthand = document.querySelector("#lefthand");
    const righthand = document.querySelector("#righthand");
    const leftfoot = document.querySelector("#leftfoot");
    const rightfoot = document.querySelector("#rightfoot");

    const tl = new TimelineMax({repeat:-1});
    const ease = SteppedEase.config(5);

    tl
      .to(righthand, 0.25, {autoAlpha:1,},1)
      .to(lefthand, 0.25, {autoAlpha:1,},1)
      .to(lefthand, 3, 
          {bezier:{ curviness: 1, values:[{x:0, y:0},{x:52, y:-25}, {x:97, y:-39}, {x:136, y:-54}, {x:172, y:-83}, {x:197, y:-117},{x:200, y:-163,}],
          autoRotate:90}, ease:ease},1)
      .to(righthand, 3, 
          {bezier:{ curviness: 1, values:[{x:0, y:0}, {x:44, y:-13}, {x:97, y:-28,}, {x:134, y:-49,}, {x:166, y:-83,}, {x:182, y:-126,}, {x:176, y:-163,}],
          autoRotate:100}, ease:ease},1.25)

      .to(rightfoot, 0.25, {autoAlpha:1,},1)
      .to(leftfoot, 0.25, {autoAlpha:1,},1)
      .to(leftfoot, 3, 
          {bezier:{ curviness: 1, values:[{x:0, y:0},{x:52, y:-25}, {x:97, y:-39}, {x:136, y:-54}, {x:172, y:-83}, {x:197, y:-117},{x:200, y:-163,}],
          autoRotate:90}, ease:ease},1)
      .to(rightfoot, 3, 
          {bezier:{ curviness: 1, values:[{x:0, y:0}, {x:44, y:-13}, {x:97, y:-28,}, {x:134, y:-49,}, {x:166, y:-83,}, {x:182, y:-126,}, {x:176, y:-163,}],
          autoRotate:100}, ease:ease},1.25)
