<!DOCTYPE html>
html(lang="en")
    head
        title Meldocia
    body
        include partials/header
        case panelNumber
            when 0
                include partials/description
            when 1
                include partials/skills
            when 2
                include partials/portfolio
            when 3
                include partials/contact
        include partials/footer