extends layouts/main-layout.pug

block content
    p Fullstack and AWS developer
    p Phrase d'accroche
    p Petit paragraphe d'introduction et de présentation
    p Frontend developer: skills
    p Backend developer: skills
    p AWS developer: skills
    p Portfolio
    p Collaboration with companies
    p My Startup Projects
    p Tu veux me contacter ??? Clique là lol. 
