.container {
    width: 80%;
    margin: auto;
}
.game-frame {
    border: 1px solid white;
}
    .game-frame .btn {
        border: none;
    }
    .memory-card .front, .memory-card .back {
        border: 1px solid white;
        height: 102px;
        width: 159.5px;
    }
