.container {
    width: 80%;
    margin: auto;
}

.modal-content {
    background-color: var(--black-color) !important;
}
button.btn {
    background-color: var(--black-color) !important;
    border-color: var(--secondary-color) !important;
}

.game-frame {
    font-family: 'Fredericka the Great';
    font-size: 22px;
    border: 1px solid white;
}
    .game-frame .toolbar {
        height: 95px;
    }
        .game-frame .toolbar #displayTimer {
            background-image: url("/images/chronometer.png");
            background-repeat: no-repeat;
            background-size: 80px;
            background-position: center;
            width: 75px;
            height: 95px;
            padding-top: 38px;
            color: #FFE2AE;
        }
    .game-frame .memory-card {
        background-color: transparent;
        height: 51px;
        width: 79.75px;
        perspective: 1000px;
    }
    .game-frame .memory-card-inner img {
        height: 50px;
    }
    @media screen and (min-width: 576px) {
        .game-frame .memory-card {
            height: 102px;
            width: 159.5px;
        }
        .game-frame .memory-card-inner img {
            height: 100px;
        }
    }
    .game-frame .memory-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
    }
    .game-frame .memory-card.active .memory-card-inner {
        transform: rotateY(180deg);
    }
    .game-frame .memory-card-back, .game-frame .memory-card-front {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        top: 0;
        left: 0;
        right: 0;
        border: 1px solid white;
        background-color: var(--black-color);
    }
    .game-frame .memory-card-front {
        transform: rotateY(180deg);
    }

/* Bubbles */

#bubbles {
    display: none;
}
@media screen and (min-width: 576px) {
    #bubbles {
        display: block;
    }
}

.bubble {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    cursor: pointer;
    transition: linear 2s, transform 0.2s;
}

    .bubble:hover {
        transform: scale(1.7);
    }

.bubble--bust {
    transform: scale(1.8);
}
