:root {
    --primary-color: #FFE2AE;
    --secondary-color: #1E6DE6;
    --black-color: #1A1A1A;
    --black-light-color: #212529;
    --grey-color: #424549;
}

body {
    background-color: var(--primary-color) !important;
    color: var(--black-color) !important;
}

.fa-heart {
    color: var(--secondary-color);
}

.h1, .h3, .h4 {
    color: var(--black-color) !important;
}

.h2 {
    color: var(--secondary-color) !important;
}

.card-angele {
    background-color: var(--primary-color);
}

    .card-angele .card-content ul li {
        color: var(--black-color);
        background-color: var(--primary-color);
        border-color: var(--black-color);
    }

/* Custom scrollbar */

.custom-scrollbar-css::-webkit-scrollbar-track {
    background: var(--primary-color);
}

.custom-scrollbar-css::-webkit-scrollbar-thumb {
    background-color: var(--black-color);
}

/* Header */

.header-menu a {
    color: var(--black-color);
}

    .header-menu a:hover {
        color: var(--secondary-color);
    }

/* Description */

.blockquote-custom {
    background-color: var(--primary-color) !important;
    border: 2px solid var(--black-color);
}

.blockquote-custom-icon {
    background-color: var(--secondary-color);
}

/* Animated heart */
.animated-heart {
    background: var(--secondary-color);
}

    .animated-heart::before, .animated-heart::after {
        background: rgba(30, 109, 230, 0.8);
    }

    .animated-heart::after {
        background: rgba(30, 109, 230, 0.6);
    }

/* Go on top button */

.go-top {
    border-top: 1vmin solid var(--black-color);
    border-right: 1vmin solid var(--black-color);
}

    .go-top:hover {
        border-color: var(--secondary-color);
        box-shadow: 0.5vmin -0.5vmin 0 var(--black-color);
    }

/* Experiences */

.flip-card-inner .hover-me::before {
    color: var(--secondary-color);
}

.flip-card-inner .hover-me::after {
    border-bottom: solid var(--secondary-color);
    border-right: solid var(--secondary-color);
}
