body {
    font-family: Helvetica !important;
}
.h1, .header-menu a.title {
    font-family: 'Reenie Beanie';
    font-size: 54px !important;
}

.card-angele {
    overflow: hidden;
    padding: 0 !important;
}

.card-entete {
    position: relative;
    height: 160px;
    color: white;
}
    .card-entete img {
        height: 100%;
    }
    .card-entete div {
        position: absolute;
        bottom: 0;
        z-index: 3;
    }
    .card-entete .black-cover {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
        z-index: 2;
    }
    .card-entete img {
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 1;
    }

/* Custom scrollbar */
.custom-scrollbar-css {
    overflow-y: scroll;
}
    .custom-scrollbar-css::-webkit-scrollbar {
        width: 5px;
    }

/* Header */
.header-menu {
    width: 100%;
}
    .header-menu #menu-right {
        display: none;
    }
@media screen and (min-width: 576px) {
    .header-menu #menu-right {
        display: block;
    }
}

a.btn {
    text-decoration: none;
    text-align: left;
}

/* Main content */

.main-content {
    display: block;
    margin-top: 50px !important;
    width: 95%;
    max-width: 900px;
    margin: auto;
}
footer .row {
    width: 95%;
    max-width: 900px;
    margin: auto;
}
footer .links {
    display: block;
}
@media screen and (min-width: 576px) {
    .main-content {
        width: 65%;
    }
    footer .row {
        width: 65%;
    }
    footer .links {
        display: none;
    }
}
#description, #skills, #portfolio, #experience {
    margin-bottom: 150px;
}

/* Description */

.blockquote-custom {
    position: relative;
    background-image: url("/images/logo.png");
    background-repeat: no-repeat;
    background-position: 93% 50%;
    background-size: 30%;
}
    .blockquote-custom .avatar {
        text-align: center;
        margin-bottom: 20px;
    }
@media screen and (min-width: 750px) {
    .blockquote-custom .inline {
        display: inline;
    }
}
.blockquote-custom-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -25px;
    left: 50px;
}

/* Skills */

#skills .card-angele {
    width: 18rem !important;
}

/* Animated heart */
.animated-heart {
    background: #FF0000;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    line-height: 24px;
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 1;
}

    .animated-heart::before, .animated-heart::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 50%;
        animation: ripple-1 2s infinite ease-in-out;
        z-index: -1;
    }
    .animated-heart::after {
        animation: ripple-2 2s infinite ease-in-out;
        animation-delay: 0.5s;
    }
@keyframes ripple-1 {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}
@keyframes ripple-2 {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.7);
        opacity: 0;
    }
}

/* Go on top button */

.go-top {
    position: absolute;
    bottom: 0;
    right: 35%;
    width: 3vmin;
    height: 3vmin;
    background: transparent;
    border-radius: 15%;
    box-shadow: 0 0 0 lightgray;
    transition: all 200ms ease;
    transform: translate3d(0,-50%,0) rotate(-45deg);
}
    .go-top:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-40%,-60%) rotate(45deg);
        width: 200%;
        height: 200%;
    }

/* Left sidebar */

#lateral_left, #lateral_right {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100px;
    height: 100vh;
}
    #lateral_left .box-vl {
        height: 200px;
    }
    #lateral_left .vl {
        border-right: 2px solid black;
        width: 50px;
        height: 100%;
    }
@media screen and (min-width: 576px) {
    #lateral_left, #lateral_right {
        display: flex;
    }
}
#lateral_left {
    left: 20px;
}
#lateral_right {
    right: 20px;
}

@media screen and (min-width: 576px) {
    #lateral_right {
        display: flex;
    }
}

    /* Experiences */

    #experience {
        margin-top: 48px;
    }

    .flip-card {
        width: 18rem !important;
    }

        .flip-card .flip-card-back .card-entete {
            display: none;
        }

    @media screen and (min-width: 576px) {
        .flip-card {
            height: 490px;
            background-color: transparent;
            width: 18rem !important;
            perspective: 1000px;
            margin-bottom: 12px;
            padding: 0;
        }

            .flip-card .flip-card-back .card-entete {
                display: block;
            }

        .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            transition: transform 0.6s;
            transform-style: preserve-3d;
        }

        .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
        }

        .flip-card-front, .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        .flip-card-inner .hover-me::before {
            margin-left: 16px;
            content: 'Hover me';
            font-size: small;
        }

        .flip-card-inner .hover-me::after {
            content: '';
            border-width: 0 3px 3px 0;
            border-radius: 15%;
            display: inline-block;
            padding: 3px;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
        }

        .flip-card-back {
            transform: rotateY(180deg);
        }
    }

