header {
    background-color: #FFE2AE !important;
}
p.h1, p.h2, p.h3 {
    color: #E5A31E;
}

/* Custom scrollbar */
.custom-scrollbar-css {
    overflow-y: scroll;
}
    .custom-scrollbar-css::-webkit-scrollbar {
        width: 5px;
    }
    .custom-scrollbar-css::-webkit-scrollbar-track {
        background: #eee;
    }
    .custom-scrollbar-css::-webkit-scrollbar-thumb {
        background-color: #99690A;
    }

/* Header */
.header-menu {
    width: 85%;
    margin: auto;
}

.btn-link i {
    color: #1A1A1A;
}

/* Main content */

.main-content {
    display: block;
    margin-top: 50px !important;
    width: 65%;
    margin: auto;
}
#description, #skills, #portfolio {
    margin-bottom: 200px;
}

/* Description */

.blockquote-custom {
    position: relative;
    font-size: 1.1rem;
}
.blockquote-custom-icon {
    background-color: #E5A31E;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -25px;
    left: 50px;
}

/* Animated heart */

.animated-heart {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    line-height: 24px;
    display: inline-block;
    text-align: center;
    background: #ff3f3f;
    position: relative;
    z-index: 1;
}
    .animated-heart::before, .animated-heart::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 50%;
        background: rgba(255, 63, 63, 0.8);
        animation: ripple-1 2s infinite ease-in-out;
        z-index: -1;
    }
    .animated-heart::after {
        background: rgba(255, 63, 63, 0.6);
        animation: ripple-2 2s infinite ease-in-out;
        animation-delay: 0.5s;
    }
@keyframes ripple-1 {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}
@keyframes ripple-2 {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.7);
        opacity: 0;
    }
}

/* Go on top button */

.go-top {
    position: absolute;
    bottom: 0;
    right: 3%;
    width: 3vmin;
    height: 3vmin;
    background: transparent;
    border-top: 1vmin solid #99690A;
    border-right: 1vmin solid #99690A;
    box-shadow: 0 0 0 lightgray;
    transition: all 200ms ease;
    transform: translate3d(0,-50%,0) rotate(-45deg);
}
    .go-top:hover {
        border-color: #E5A31E;
        box-shadow: 0.5vmin -0.5vmin 0 #99690A;
    }
    .go-top:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-40%,-60%) rotate(45deg);
        width: 200%;
        height: 200%;
    }

/* Rotating cards */

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #FFE2AE;
    border: 2px solid #99690A;
    color: black;
}

.flip-card-back {
    background-color: #99690A;
    border: 2px solid #1A1A1A;
    color: white;
    transform: rotateY(180deg);
}

/* Background */

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }

    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }

    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: -1;
}

.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #E5A31E 20%, #FFE2AE 80%);
}

.bgTop {
    z-index: 15;
    opacity: 0.5;
}

.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}

.bgBottom {
    z-index: 5;
}

.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.waveTop {
    background-size: 50% 100px;
}

.waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.waveMiddle {
    background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}

.waveBottom {
    background-size: 50% 100px;
}

.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}
