:root {
    --primary-color: #DDDDDD;
    --secondary-color: #D51067;
    --black-color: #1A1A1A;
    --black-light-color: #363636;
    --grey-color: #C1C1C1;
}

body {
    color: var(--primary-color) !important;
    background-color: var(--black-color) !important;
}

.fa-heart {
    color: var(--primary-color);
}
.handcrafted .fa-heart {
    color: var(--secondary-color);
}

h2, h3, h4 {
    color: var(--primary-color) !important;
}

h1 {
    color: var(--primary-color) !important;
}

a.link {
    color: var(--secondary-color) !important;
}
a.link:hover {
    color: var(--primary-color) !important;
}

.card-custom {
    background-color: var(--black-light-color);
}
.card-content ul li {
    color: var(--primary-color);
    background-color: var(--black-light-color);
}

/* Custom scrollbar */
.custom-scrollbar-css::-webkit-scrollbar-track {
    background: var(--black-color);
}

.custom-scrollbar-css::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
}

/* Header */
a.btn {
    color: var(--primary-color);
}

    a.btn:hover, a.btn.active, a.btn:focus, a[aria-current="location"] {
        color: var(--secondary-color) !important;
    }

/* Description */
.blockquote-custom {
    border: 2px solid var(--primary-color);
}

.blockquote-custom-icon {
    background-color: var(--secondary-color);
}

/* Animated heart */
.animated-heart {
    background: var(--secondary-color);
}

    .animated-heart::before, .animated-heart::after {
        background: var(--secondary-color);
        opacity: 0.8;
    }

    .animated-heart::after {
        background: var(--secondary-color);
        opacity: 0.6;
    }

/* Go on top button */
.go-top {
    border-top: 1vmin solid var(--primary-color);
    border-right: 1vmin solid var(--primary-color);
}

.go-top:hover {
    border-color: var(--secondary-color);
    box-shadow: 0.5vmin -0.5vmin 0 var(--primary-color);
}

/* Carousel */
.carousel-custom-container .project-info {
    background-color: var(--black-color);
}

/* Experiences */
.flip-card-inner .hover-me::before {
    color: var(--primary-color);
}

.flip-card-inner .hover-me::after {
    border-bottom: solid var(--secondary-color);
    border-right: solid var(--secondary-color);
}
