:root {
    --primary-color: #DDDDDD;
    --secondary-color: #d51067;
    --secondary-light-color: #f8a0c6;
    --black-color: #000000;
    --black-light-color: #1A1A1A;
    --grey-color: #303030;
}

body {
    color: var(--primary-color) !important;
    background-color: var(--black-color) !important;
    overflow-x: hidden;
}

.fa-heart {
    color: var(--primary-color);
}
.handcrafted .fa-heart {
    color: var(--secondary-color);
}

h2, h3, h4 {
    color: var(--primary-color) !important;
}

h1 {
    color: var(--primary-color) !important;
}

a.link {
    color: var(--primary-color) !important;
}
a.link:hover {
    color: var(--secondary-color) !important;
}

header {
    border: 1px solid var(--grey-color);
}

span.gradient {
    color: var(--secondary-light-color);
}

.card-custom {
    background-color: var(--black-light-color);
}
.card-content ul li {
    color: var(--primary-color);
    background-color: var(--black-light-color);
}

/* Custom scrollbar */
.custom-scrollbar-css::-webkit-scrollbar-track {
    background: var(--black-color);
}

.custom-scrollbar-css::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
}

a.btn {
    color: var(--primary-color);
}
    a.btn:hover, a.btn.active, a.btn:focus, a[aria-current="location"] {
        color: var(--secondary-color) !important;
    }

/* Description */
/* Animated heart */
.animated-heart {
    background: var(--secondary-color);
}
    .animated-heart::before, .animated-heart::after {
        background: var(--secondary-color);
        opacity: 0.8;
    }

    .animated-heart::after {
        background: var(--secondary-color);
        opacity: 0.6;
    }

/* Go on top button */
.go-top {
    border-top: 5px solid var(--primary-color);
    border-right: 5px solid var(--primary-color);
}
.go-top:hover {
    border-color: var(--secondary-color);
    cursor: pointer;
}

/* Carousel */
.carousel-custom-container .project-info {
    background-color: var(--black-light-color);
}

/* Experiences */
.flip-card-inner .hover-me::before {
    color: var(--primary-color);
}

.flip-card-inner .hover-me::after {
    border-bottom: solid var(--secondary-color);
    border-right: solid var(--secondary-color);
}
