:root {
    --ground: hsl(25, 13%, 16%);
    --ground-dark: hsl(25, 13%, 6%);
    --grass: hsl(184, 100%, 6%);
    --water: hsl(186, 100%, 38%);
    --water-drop: hsl(186, 100%, 7%);
    --road: hsl(25, 13%, 26%);
    --tree: hsl(184, 100%, 15%);
    --tree-trunc: hsl(22, 59%, 17%);
    --building-1: hsl(283, 34%, 32%);
    --building-1-dark: hsl(283, 34%, 12%);
    --building-1-window: hsl(334, 86%, 45%);
    --roof: hsl(283, 34%, 32%);
    --roof-light: hsl(283, 34%, 52%);
    --car-1: hsl(60, 100%, 50%);
    --car-2: hsl(33, 100%, 50%);
    --parking: hsl(0, 0%, 40%);
}
/*
:root {
    --ground: hsl(25, 13%, 46%);
    --ground-dark: hsl(25, 13%, 36%);
    --grass: hsl(184, 100%, 36%);
    --water: hsl(186, 100%, 58%);
    --water-drop: hsl(186, 100%, 7%);
    --road: hsl(25, 13%, 66%);
    --tree: hsl(184, 100%, 50%);
    --tree-trunc: hsl(22, 59%, 17%);
    --building-1: hsl(283, 34%, 32%);
    --building-1-dark: hsl(283, 34%, 12%);
    --building-1-window: hsl(334, 86%, 45%);
    --roof: hsl(283, 34%, 32%);
    --roof-light: hsl(283, 34%, 52%);
    --car-1: hsl(60, 100%, 50%);
    --car-2: hsl(33, 100%, 50%);
    --parking: hsl(0, 0%, 100%);
}
*/

.iso-description {
    margin-top: 200px;
}

/* Ground */

.ground {
    position: relative;
    top: 5em;
    left: 5em;
    display: block;
    background-color: var(--ground);
    width: 360px;
    height: 360px;
    transform: rotateZ(45deg);
    z-index: 0;
}
.ground div.shadow-right {
    position: absolute;
    display: block;
    background-color: var(--ground-dark);
    width: 10px;
    height: 100%;
    top: 5px;
    right: -10px;
    z-index: 1;
    transform: skewY(45deg);
}
.ground div.shadow-left {
    position: absolute;
    display: block;
    background-color: var(--ground);
    width: 100%;
    height: 10px;
    bottom: -10px;
    right: -5px;
    z-index: 1;
    transform: skewX(45deg);
}

/* Grass */

.grass div {
    position: absolute;
    display: block;
    background-color: var(--grass);
    z-index: 2;
}
.grass div.one {
    width: 70px;
    height: 260px;
    bottom: 0px;
    left: 0px;
}
.grass div.two {
    width: 325px;
    height: 55px;
    top: 0px;
    left: 0px;
}
.grass div.three {
    width: 27px;
    height: 260px;
    bottom: 0px;
    left: 115px;
}
.grass div.four {
    width: 220px;
    height: 70px;
    bottom: 0px;
    right: 0px;
}
.grass div.five {
    width: 80px;
    height: 155px;
    bottom: 115px;
    right: 35px;
}

/* Parkings */

.parking div {
    position: absolute;
    display: block;
    background-color: var(--road);
    border: 1px solid var(--parking);
    transform: rotate(-90deg);
    width: 15px;
    height: 23px;
    font-size: 9pt;
    z-index: 2;
}
.parking div::after {
    content: 'P';
    color: var(--parking);
    margin-top: 20px;
    margin-left: 3px;
}
.parking div.one {
    bottom: 200px;
    right: 38px;
}
.parking div.two {
    bottom: 215px;
    right: 38px;
}
.parking div.three {
    bottom: 230px;
    right: 38px;
}

/* Water */

.water div {
    position: absolute;
    display: block;
    background-color: var(--water);
    z-index: 3;
}
.water-drops div {
    position: absolute;
    display: block;
    background-color: var(--water-drop);
    width: 4px;
    height: 0px;
    border-radius: 4px;
    opacity: 0.4;
    animation: water-drops 2s ease infinite;
    transform: rotateZ(-45deg);
    z-index: 5;
}
@keyframes water-drops {
    0% {
      height: 0px;
      border-radius: 3px;
    }
    50% { 
      height: 15px;
    }
    100% {
      height: 0px;
    }
}
div.one .water-drops div:nth-child(1) {
    bottom: -20px;
    left: 10px;
    animation-delay: .25s;
}
div.one .water-drops div:nth-child(2) {
    bottom: -20px;
    left: 15px;
    animation-delay: .5s;
}
div.one .water-drops div:nth-child(3) {
    bottom: -20px;
    left: 20px;
    animation-delay: .75s;
}
div.one .water-drops div:nth-child(4) {
    bottom: -20px;
    left: 25px;
    animation-delay: 1s;
}
.water div.one {
    width: 42px;
    height: 30px;
    bottom: 135px;
    right: 55px;
    box-shadow: 0px 0px 0px 5px var(--ground);
    border-radius: 2px;
}
.water div.one::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px 3px hsl(186, 100%, 88%);
    border-radius: 2px;
}

/* Road */

.road div {
    position: absolute;
    display: block;
    background-color: var(--road);
    width: 25px;
    z-index: 5;
}
.road div.one {
    height: 280px;
    bottom: 0;
    left: 80px;
}
.road div.two {
    height: 200px;
    top: 80px;
    left: 152px;
}
.road div.three {
    height: 280px;
    top: 0;
    right: 0;
}
.road div.four {
    transform: rotateZ(90deg);
    height: 177px;
    top: -10px;
    left: 76px;
}
.road div.five {
    transform: rotateZ(90deg);
    height: 180px;
    bottom: 2px;
    right: 91px;
}

/* Trees */

.tree div {
    position: absolute;
    background: var(--tree);
    border-radius: 10% 50% 50% 50%;
    height: 30px;
    width: 30px;
    animation: sway 2s ease-in-out infinite;
    animation-direction: alternate;
    transform-origin: bottom;
    animation-delay: 1s;
    z-index: 6;
}
.tree div:before {
    content:'';
    position:absolute;
    background: var(--tree-trunc);
    bottom: -2px;
    left: calc(50% + 9px);
    height: 20%;
    width: 33%;
    transform: rotate(45deg);
}
@keyframes sway {
    0% {transform: skewX(12deg);}
    60% {transform: skewX(0deg);}
    100% {transform: skewX(12deg);}
}
.tree div.one {
    top: 10px;
    left: 10px;
}
.tree div.two {
    top: 10px;
    left: 45px;
}
.tree div.three {
    bottom: 14px;
    left: 10px;
}
.tree div.four {
    bottom: 140px;
    left: 10px;
}
.tree div.five {
    bottom: 175px;
    left: 10px;
}
.tree div.six {
    top: 10px;
    left: 185px;
}
.tree div.seven {
    bottom: 140px;
    left: 100px;
}
.tree div.eight {
    bottom: 230px;
    left: 100px;
}
.tree div.nine {
    bottom: 14px;
    right: 150px;
}
.tree div.ten {
    bottom: 14px;
    right: 10px;
}
.tree div.eleven {
    top: 100px;
    right: 85px;
}

/* Plane */

.paperplane {
    position: absolute;
    left: 120px;
    bottom: 60px;
    transform: rotateZ(-45deg);
    z-index: 9;
}
.paperplane .plane {
    animation: move 3s linear infinite;
}
.paperplane .wingRight {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 7.5px solid transparent;
    border-right: 4.17px solid transparent;
    border-bottom: 38.33px solid white;
    transform: rotate(61deg);
    z-index: 40;
}
.paperplane .bottom {
    position: relative;
    width: 0;
    height: 0;
    border-left: 4.17px solid transparent;
    border-right: 4.17px solid transparent;
    border-bottom: 8.5px solid #676d70;
    top: 23.67px;
    transform: rotate(-5deg);
    left: -17.5px;
    z-index: 30;
}
.paperplane .top {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 3.33px solid transparent;
    border-right: 3.33px solid transparent;
    border-top: 10px solid #c1c7c9;
    top: 21.67px;
    transform: rotate(5deg);
    left: -20px;
    z-index: 10;
}
.paperplane .middle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 45px solid #c1c7c9;
    top: -4.5px;
    transform: rotate(72deg);
    left: -2.5px;
    z-index: 20;
}
.paperplane .wingLeft {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8.33px solid transparent;
    border-bottom: 45px solid white;
    transform: rotate(78deg) skewY(-35deg);
    left: -6.17px;
    top: -10px;
    z-index: 30;
}
@keyframes move {
    0% { transform: translateY(0); }
    25% { transform: translateY(-10px); }
    50% { transform: translateY(0); }
    75% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}

/* Cars */

.car div {
    position: absolute;
    display: block;
    width: 15px;
    height: 7px;
    z-index: 5;
}
.car div.one {
    top: 79px;
    left: 0px;
    background-color: var(--car-1);
    box-shadow: 0 0 18px 7px var(--car-1);
    animation: car-one 9s linear infinite;
    animation-delay: .25s;
}
.car div.one::after {
    display: block;
    content: '';
    box-shadow: 0 0 18px 5px var(--car-1);
}
@keyframes car-one {
    0% {
      top: 79px;
      left: 0px;
      transform: rotate(0deg);
      box-shadow: 2px 2px 0 0 #333;
    }
    24% {
      transform: rotate(0deg);
      box-shadow: 2px 2px 0 0 #333;
    }
    25% {
      top: 79px;
      left: 76px;
      transform: rotate(90deg);
      box-shadow: 2px -2px 0 0 #333;
    }
    100% {
      top: calc(100% - 10px);
      left: 76px;
      transform: rotate(90deg);
      box-shadow: 2px -2px 0 0 #333;
    }
}
.car div.two {
    top: 0px;
    right: 0px;
    background-color: var(--car-2);
    animation: car-two 14s linear infinite;
    animation-delay: 5s;
    visibility: hidden;
}
.car div.two::after {
    display: block;
    content: '';
    box-shadow: 0 0 18px 5px var(--car-2);
}
@keyframes car-two {
    0% {
        visibility: visible;
        top: 0px;
        right: 14px;
        transform: rotate(90deg);
        box-shadow: 2px -2px 0 0 #333;
    }
    19% {
        transform: rotate(90deg);
        box-shadow: 2px -2px 0 0 #333;
    }
    20% {
        top: 112px;
        right: 14px;
        transform: rotate(180deg);
        box-shadow: -2px -2px 0 0 #333;
    }
    30% {
        top: 112px;
        right: 39px;
        transform: rotate(180deg);
        box-shadow: -2px -2px 0 0 #333;
    }
    50% {
        top: 112px;
        right: 39px;
        transform: rotate(180deg);
        box-shadow: -2px -2px 0 0 #333;
    }
    60% {
        top: 112px;
        right: 0px;
        transform: rotate(180deg);
        box-shadow: -2px -2px 0 0 #333;
    }
    61% {
        top: 112px;
        right: 0px;
        transform: rotate(270deg);
        box-shadow: -2px 2px 0 0 #333;
    }
    66% {
        top: 125px;
        right: 0px;
        transform: rotate(270deg);
        box-shadow: -2px 2px 0 0 #333;
    }
    80% {
        top: 0px;
        right: 0px;
        transform: rotate(270deg);
        box-shadow: -2px 2px 0 0 #333;
    }
    81% {
        transform: rotate(270deg);
        visibility: hidden;
    }
    100% {
        visibility: hidden;
    }
}

/* Buildings */

.brickhouse, .brickbuilding {
    position: absolute;
    display: block;
    background-color: transparent;
    height: 50px;
    z-index: 6;
}
.brickhouse {
    width: 25px;
}
.brickbuilding {
    width: 50px;
}
.brickhouse .wall-one, .brickbuilding .wall-one {
    position: absolute;
    display: block;
    background-color: var(--building-1);
    transform: skewX(45deg);
    top: 0px;
    width: 50px;
}
.brickhouse .wall-one {
    height: 25px;
    left: -37px;
}
.brickbuilding .wall-one {
    height: 50px;
    left: -25px;
}
.brickhouse .wall-two, .brickbuilding .wall-two {
    position: absolute;
    display: block;
    background-color: var(--building-1-dark);
    transform: skewY(45deg);
    left: 0px;
    height: 50px;
}
.brickhouse .wall-two {
    top: -37px;
    width: 25px;
}
.brickbuilding .wall-two {
    top: -25px;
    width: 50px;
}
.brickhouse .roof, .brickbuilding .roof {
    position: absolute;
    display: block;
    background-color: var(--roof);
    box-shadow: inset 0 0 0 3px #313131;
    border-radius: 2px;
    width: 50px;
    height: 50px;
    top: -50px;
    left: -50px;
}
.brickhouse .wall-one div, .brickhouse .wall-two div,
.brickbuilding .wall-one div, .brickbuilding .wall-two div {
    position: absolute;
    display: block;
    background-color: var(--building-1-window);
    opacity: 1;
}
.brickhouse .wall-one div, .brickbuilding .wall-one div {
    width: 5px;
    height: 7px;
    top: 3px;
    left: 8px;
}
.brickhouse .wall-one div {
    box-shadow: 0 10px 0 0 var(--building-1-window),
                10px 0px 0 0 var(--building-1-window),
                10px 10px 0 0 var(--building-1-window),
                20px 0px 0 0 var(--building-1-window),
                20px 10px 0 0 var(--building-1-window),
                30px 0px 0 0 var(--building-1-window),
                30px 10px 0 0 var(--building-1-window);
}
.brickbuilding .wall-one div {
    box-shadow: 0 10px 0 0 var(--building-1-window),
                0 20px 0 0 var(--building-1-window),
                0 30px 0 0 var(--building-1-window),
                10px 0px 0 0 var(--building-1-window),
                10px 10px 0 0 var(--building-1-window),
                10px 20px 0 0 var(--building-1-window),
                10px 30px 0 0 var(--building-1-window),
                20px 0px 0 0 var(--building-1-window),
                20px 10px 0 0 var(--building-1-window),
                20px 20px 0 0 var(--building-1-window),
                20px 30px 0 0 var(--building-1-window),
                30px 0px 0 0 var(--building-1-window),
                30px 10px 0 0 var(--building-1-window),
                30px 20px 0 0 var(--building-1-window),
                30px 30px 0 0 var(--building-1-window);
}
.brickhouse .wall-two div, .brickbuilding .wall-two div {
    width: 7px;
    height: 5px;
    top: 8px;
    left: 3px;
}
.brickhouse .wall-two div {
    box-shadow: 0 10px 0 0 var(--building-1-window),
                0 20px 0 0 var(--building-1-window),
                0 30px 0 0 var(--building-1-window),
                10px 0 0 0 var(--building-1-window),
                10px 10px 0 0 var(--building-1-window),
                10px 20px 0 0 var(--building-1-window),
                10px 30px 0 0 var(--building-1-window);
}
.brickbuilding .wall-two div {
    box-shadow: 10px 0 0 0 var(--building-1-window),
                20px 0 0 0 var(--building-1-window),
                30px 0 0 0 var(--building-1-window),
                0px 10px 0 0 var(--building-1-window),
                10px 10px 0 0 var(--building-1-window),
                20px 10px 0 0 var(--building-1-window),
                30px 10px 0 0 var(--building-1-window),
                0px 20px 0 0 var(--building-1-window),
                10px 20px 0 0 var(--building-1-window),
                20px 20px 0 0 var(--building-1-window),
                30px 20px 0 0 var(--building-1-window),
                0px 30px 0 0 var(--building-1-window),
                10px 30px 0 0 var(--building-1-window),
                20px 30px 0 0 var(--building-1-window),
                30px 30px 0 0 var(--building-1-window);
}

/* Buildings position */

.radio {
    bottom: 30px;
    left: 45px;
}
.school {
    top: 125px;
    left: 45px;
}
.dentist {
    top: 30px;
    left: 130px;
}
.liferay {
    top: 95px;
    right: 125px;
}
.servicenow {
    top: 195px;
    right: 125px;
}
.iot {
    bottom: 20px;
    right: 60px;
}
.alten {
    top: 30px;
    right: 35px;
}

/* Neon signs */

.roof input[type="radio"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.roof .checkmark {
    box-shadow: inset 0 0 0 3px #313131;
    width: 100%;
    height: 100%;
}
.roof .checkmark::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 8px 3px var(--building-1-window);
    border-radius: 2px;
}
.roof:hover input ~ .checkmark,
.roof input:checked ~ .checkmark {
    background: linear-gradient(#e66465, var(--roof-light));
    box-shadow: 0 0 18px 7px var(--building-1-window);
}
.roof .sign {
    position: absolute;
    top: -31px;
    left: -50px;
    width: 0;
    height: 0;
    transform: rotateZ(-45deg);
    visibility: hidden;
    z-index: 11;
}
.roof .sign i::before {
    font-size: 20px;
    color: transparent;
    -webkit-text-stroke: 0.8px #ffffff;
    animation: glowing 1.2s reverse infinite ease-in-out;
}
.roof .sign i:nth-child(1)::before {
    animation-delay: 0;
}
.roof .sign i:nth-child(2)::before {
    animation-delay: 0.14s;
}
.roof .sign i:nth-child(3)::before {
    animation-delay: 0.21s;
}
.roof input:checked ~ .sign {
    visibility: visible;
}
@keyframes glowing {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      filter: drop-shadow(0 0 0 #ffffff) drop-shadow(0 0 0.5px #ffffff)
              drop-shadow(0 0 1px var(--building-1-window)) drop-shadow(0 0 1.5px var(--building-1-window))
              drop-shadow(0 0 2px var(--building-1-window)) drop-shadow(0 0 2.5px var(--building-1-window));
    }
}
