@font-face {
    font-family: 'OpenDyslexic';
    src: url('../fonts/OpenDyslexic-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenDyslexic';
    src: url('../fonts/OpenDyslexic-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'OpenDyslexic';
    src: url('../fonts/OpenDyslexic-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'OpenDyslexic';
    src: url('../fonts/OpenDyslexic-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}
  
html, body {
    height: 100%;
}
body {
    font-family: 'OpenDyslexic', Helvetica, sans-serif !important;
    font-size: 14px !important;
    min-height: 100vh;
}
h1 {
    font-size: 28px !important;
}
h2 {
    font-size: 22px !important;
}

/* Main page */
.header-menu a.title {
    font-family: 'Reenie Beanie', sans-serif;
    font-size: 38px !important;
}
@media screen and (min-width: 576px) {
    .header-menu a.title {
        font-size: 54px !important;
    }
}
a {
    text-decoration: none !important;
}
i {
    vertical-align: baseline !important;
}
.subtitle {
    font-size: small;
    color: var(--secondary-color);
}

/* Carousel */
.carousel-custom-container {
    transform-style: preserve-3d;
}
.carousel-custom-container input[type=radio] {
    display: none;
}
.carousel-custom-container .carousel-custom-items {
    position: relative;
    width: 100%;
    min-height: 650px;
}
.carousel-custom-container .carousel-custom-item {
    position: absolute;
    width: 80%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
    min-height: 100%;
}
@media screen and (min-width: 576px) {
    .carousel-custom-container .carousel-custom-item {
        width: 50%;
    }
}
.carousel-custom-container .carousel-custom-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}
.carousel-custom-container .project-info {
    width: 100%;
    padding: 20px;
}
#item-0:checked ~ .carousel-custom-items #project-2,
#item-1:checked ~ .carousel-custom-items #project-0,
#item-2:checked ~ .carousel-custom-items #project-1 {
    transform: translatex(-40%) scale(.8);
    opacity: .4;
    z-index: 0;
}
#item-0:checked ~ .carousel-custom-items #project-1,
#item-1:checked ~ .carousel-custom-items #project-2,
#item-2:checked ~ .carousel-custom-items #project-0 {
    transform: translatex(40%) scale(.8);
    opacity: .4;
    z-index: 0;
}
#item-0:checked ~ .carousel-custom-items #project-0,
#item-1:checked ~ .carousel-custom-items #project-1,
#item-2:checked ~ .carousel-custom-items #project-2 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

/* Cards */
.card-custom {
    overflow: hidden;
    padding: 0 !important;
}

.card-entete {
    position: relative;
    height: 160px;
    color: var(--primary-color);
}
.card-entete div {
    position: absolute;
    bottom: 0;
    z-index: 3;
}
.card-entete .black-cover {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    z-index: 2;
}
.card-entete img {
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}

/* Custom scrollbar */
.custom-scrollbar-css {
    overflow-y: scroll;
}
.custom-scrollbar-css::-webkit-scrollbar {
    width: 5px;
}

/* Header */
.header-menu {
    width: 100%;
}

a.btn {
    text-decoration: none;
    text-align: left;
}

/* Main content */
.main-content {
    display: block;
    margin-top: 50px !important;
    width: 95%;
    max-width: 900px;
    margin: auto;
}
footer .row {
    width: 95%;
    max-width: 900px;
    margin: auto;
}
footer .links {
    display: block;
}
@media screen and (min-width: 576px) {
    .main-content {
        width: 65%;
    }
    footer .row {
        width: 65%;
    }
    footer .links {
        display: none;
    }
}
#description, #skills, #projects, #experience {
    margin-bottom: 50px;
}
@media screen and (min-width: 750px) {
    #description, #skills, #projects, #experience {
        margin-bottom: 150px;
    }
}

/* Description */
.blockquote-custom {
    position: relative;
    background-repeat: no-repeat;
    background-position: 93% 50%;
    background-size: 30%;
}
.blockquote-custom .avatar {
    text-align: center;
    margin-bottom: 20px;
}
.blockquote-custom-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -25px;
    left: 50px;
}

/* Skills */
#skills .card-custom {
    width: 18rem !important;
}

/* Animated heart */
.animated-heart {
    background: var(--secondary-color);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    line-height: 24px;
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 1;
}
    .animated-heart::before, .animated-heart::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 50%;
        animation: ripple-1 2s infinite ease-in-out;
        z-index: -1;
    }
    .animated-heart::after {
        animation: ripple-2 2s infinite ease-in-out;
        animation-delay: 0.5s;
    }
@keyframes ripple-1 {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}
@keyframes ripple-2 {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.7);
        opacity: 0;
    }
}

/* Go on top button */
.go-top {
    position: absolute;
    bottom: 0;
    right: 35%;
    width: 3vmin;
    height: 3vmin;
    background: transparent;
    border-radius: 15%;
    box-shadow: 0 0 0 lightgray;
    transition: all 200ms ease;
    transform: translate3d(0,-50%,0) rotate(-45deg);
}
    .go-top:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-40%,-60%) rotate(45deg);
        width: 200%;
        height: 200%;
    }

/* Experiences */
#experience {
    margin-top: 48px;
}
.flip-card {
    width: 18rem !important;
}
    .flip-card .flip-card-back .card-entete {
        display: none;
    }
@media screen and (min-width: 576px) {
    .flip-card {
        height: 490px;
        background-color: transparent;
        width: 18rem !important;
        perspective: 1000px;
        margin-bottom: 12px;
        padding: 0;
    }
        .flip-card .flip-card-back .card-entete {
            display: block;
        }
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.6s;
        transform-style: preserve-3d;
    }
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }
    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .flip-card-inner .hover-me::before {
        margin-left: 16px;
        content: 'Hover me';
        font-size: small;
    }
    .flip-card-inner .hover-me::after {
        content: '';
        border-width: 0 3px 3px 0;
        border-radius: 15%;
        display: inline-block;
        padding: 3px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    .flip-card-back {
        transform: rotateY(180deg);
    }
}

/* Sidebars */
#lateral-left, #lateral-right {
    display: none !important;
}
@media screen and (min-width: 576px) {
    #lateral-left, #lateral-right {
        display: flex !important;
        position: fixed;
        bottom: 0;
        width: 100px;
        height: 100vh;
    }
        #lateral-left .vl {
            border-right: 2px solid var(--secondary-color);
            width: 50px;
            height: 100%;
        }
        #lateral-left .box-vl {
            height: 200px;
        }
    #lateral-left {
        left: 20px;
    }
    #lateral-left a.btn {
        text-align: center;
    }

    #lateral-right {
        right: 20px;
    }
}

